
#createMealTable {
    float: left;
}
#createMealTable {
    width: 60%;
}
#createRecipeDiv {
    float: left;
    width: 40%;
    height: 90%;
}
#createMealTextarea {
    width: 80%;
}
.createMealCheckboxes {
    margin-left: -100px;
}
.createMealCheckboxTD {
    width: 20px;
}
.createMealRemoveTD {
    width: 20px;
}
.createMealRemoveButton {
    position: relative;
    right: 120px;
}
@media only screen and (max-width: 1500px) {
    #createRecipeDiv {
        clear: left;
        position: relative;
        left: -250px;
        width: 100%;
        margin: 0;
        height: 150px;
    }
}
@media only screen and (max-width: 600px) {
    #createMealTable {
        width: 100%;
        float: none;
        margin-left: -15px;
    }
    #createRecipeDiv {
        float: none;
        position: relative;
        left: -250px;
        width: 100%;
        margin: 0;
        height: 150px;
    }
    .createMealInputs {
        width: 100px;
    }
    .createMealQuantityInputs {
        width: 60px;
    }
    td {
        width: 100px;
        font-size: 1.5em;
    }
    #createMealTextarea {
        border: 1px solid black;
        width: 300px;
        height: 300px;
    }
    .createMealRemoveButton {
        position: relative;
        right: 85px;
    }
    .createMealCheckboxes {
        margin-left: -80px;
    }
}