@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#mainContent {
    position: absolute;
    left: 30%;
    top: 0px;
    font-size: 1.5em;
}

#header {
    position: relative;
    left: 120px;
}

#suggestedMeals {
    background-color: #caeee3;
    border: solid 4px black;
    height: fit-content;
    text-align: center;
    padding-bottom: 20px;
    padding: 20px;
}

.green {
    background-color: #caeee3;
    font-size: 1;
}

#suggestedMeals #suggestedMealsButton {
    height: 60px;
    width: 600px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 1.8em;
    border-radius: 30px;
    font-weight: 900;
    
    
}

button {
    background-color: rgb(216, 215, 215);
}

.buttonHover {
    font-size: 1.1em;
}

#randomMealButton {
    height: 30px;
    width: 200px;
    margin-top: 10px;
    font-size: 0.5em;
    border-radius: 30px;
}

#navigateButtons {
    position: relative;
    left: 170px;
    bottom: -10px;
}

#navigateButtons button {
    width: 300px;
    height: 80px;
    border-radius: 30px;
    margin-top: 10px;
}
 

/* #storageButton {
    position: relative;
    bottom: -20px;
    left: 310px;
    width: 300px;
    height: 80px;
    font-size: 1.2em;
    border-radius: 30px;
}



#savedMealsButton {
    position: relative;
    bottom: -120px;
    left: 0px;
    width: 300px;
    height: 80px;
    font-size: 1.2em;
    border-radius: 30px;
}

#shoppingCartButton {
    position: relative;
    bottom: -220px;
    left: -300px;
    width: 300px;
    height: 80px;
    font-size: 1.2em;
    border-radius: 30px;
} */

#suggestedMealHeader {
    text-transform: uppercase;
    margin-top: -0px;
}

#shoppingcartPreview {
    border: solid 4px black;
    width: 350px;
    height: 370px;
    position: relative;
    left: 7.8vw;
    top: 130px;
    text-align: center;
    overflow: scroll;
}
#shoppingcartPreview::-webkit-scrollbar {
    display: none;
}


#shoppingcartPreview h4 {
    text-decoration: underline;
    position: relative;
}

#shoppingcartPreview ul {
    list-style-type: square;
    position: relative;
    left: 0px;

}

@media only screen and (max-width: 1650px) {
    #shoppingcartPreview {
        visibility: hidden;
    }
}

@media only screen and (max-width: 1322px) {
    /* #mainContent {
        left: 20vw;
    }
    #header {
        left: 0;
        width: 60vw;
        text-align: center;
    }
    #suggestedMeals {
        width: 60vw;
        margin-right: 0;
    } */

    #navigateButtons {
        position: relative;
        left: 0px;
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #storageButton {
        left: 0;
        bottom: 0;
    }
    #savedMealsButton {
        left: 0;
        bottom: 0;

    }
    #shoppingCartButton {
        left: 0;
        bottom: 0;
    }
    #suggestedMeals #suggestedMealsButton {
        height: 100px;
        width: 100%;
        margin-top: 1px;
        font-size: 1.8em;
        border-radius: 30px;
        font-weight: 900;
    }
}

@media only screen and (max-width: 600px) {
    #mainContent {
        left: 0px;
    }
    #header {
        left: 0;
        width: 80vw;
        text-align: center;
    }
    #suggestedMeals {
        width: 260px;
        margin-right: 10vw;
    }
    #navigateButtons {
        width: 82vw;
        display: flex;
        align-items: center;
    }
    #storageButton {
        bottom: 0;
    }
    #savedMealsButton {
        bottom: -10px;
    }
    #shoppingCartButton {
        bottom: -20px;
    }
    #suggestedMeals #suggestedMealsButton {
        height: 40px;
        width: 80%;
        margin-top: 1px;
        font-size: 1.8em;
        border-radius: 30px;
        font-weight: 900;
    }
}