
.topSavedMealsDiv {
    margin: 11vh 2vw 0 0;
    float: left;
    border: 2px solid black;
    width: 18vw;
    height: 30vh;
    overflow: scroll;
    text-align: center;
}
.topSavedMealsDiv::-webkit-scrollbar {
    display: none;
}
.bottomSavedMealsDiv {
    margin: 2vh 2vw 0 0;
    float: left;
    border: 2px solid black;
    width: 18vw;
    height: 30vh;
    overflow: scroll;
    text-align: center;
}
.bottomSavedMealsDiv::-webkit-scrollbar {
    display: none;
}
.firstSavedMealsDiv {
    margin-left: 10vw;
}
#savedMealsBackButton {
    position: absolute;
    left: 1vw;
    top: 1vh;
    border-radius: 30px;
}
#savedMealsDeleteButton {
    position: absolute;
    top: 80vh;
    left: 36vw;
    border-radius: 30px;
    width: 150px;
    height: 45px;
}
#savedMealsChangeButton {
    position: absolute;
    top: 80vh;
    left: 46vw;
    border-radius: 30px;
    width: 150px;
    height: 45px;
}
#savedMealsCreateButton {
    position: absolute;
    top: 80vh;
    left: 56vw;
    border-radius: 30px;
    width: 150px;
    height: 45px;
}
#savedMealsRightButton {
    position: absolute;
    right: 5vw;
    top: 48vh;
}
#savedMealsLeftButton {
    position: absolute;
    left: 5vw;
    top: 48vh;
}
@media only screen and (max-width: 600px) {
    #savedMealsDeleteButton {
        position: relative;
        top: 0;
        left: 20vw;
    }
    #savedMealsChangeButton {
        position: relative;
        top: 90px;
        left: -20.5vw;
    }
    #savedMealsCreateButton {
        position: relative;
        top: 0;
        left: 20vw;
    }
    .topSavedMealsDiv {
        float: none;
        width: 80vw;
        margin: 0;
        margin-top: 35px;
    }
    .bottomSavedMealsDiv {
        float: none;
        width: 80vw;
        margin: 0;
        margin-top: 35px;
    }
    #savedMealsRightButton {
        top: auto;
        bottom: 0;
    }
    #savedMealsLeftButton {
        top: auto;
        bottom: 0;
    }
}