
@media only screen and (max-width: 600px) {
    #shoppingListTable tr td input {
        width: 20vw;
    }
    #permanentlyRemoveButton {
        font-size: 1em;
    }
    #shoppingListTable {
        margin-left: -25px;
    }
}