
#startCookingHeader {
    display: flex;
    justify-content: center;
}
#startCookingIngredients {
    position: absolute;
    top: 10vh;
    left: 20vw;
}
#startCookingRecipe {
    position: absolute;
    left: 70vw;
    top: 10vh;
}
#startCookingRecipeText {
    position: absolute;
    left: 55vw;
    top: 20vh;
    width: 40vw;
    height: 60vh;
}
@media only screen and (max-width: 600px) {
    #startCookingHeader {
        text-align: center;
        width: 80vw;
        font-size: 4em;
        position: relative;
        left: 0px;
    }
    #startCookingIngredients {
        position: static;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #startCookingIngredients h1 {

    }
    #startCookingIngredients ul {
        font-size: x-small;
        margin-left: -30px;
    }
    #startCookingRecipe {
        position: static;
        display: flex;
        justify-content: center;
        margin-top: 20%;
    }
    #startCookingRecipeText {
        position: static;
        display: flex;
        justify-content: center;
        margin-left: 20vw;
        font-size: 1.4em;
    }
}