@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    
    font-family: 'Poppins', sans-serif;
}

#storageMainDiv button {
    background-color: lightgray;
}

#storageMainDiv button:hover {
    background-color: gray;
}

#storageAddNewItem {
    width: 200px;
    height: 100px;
    font-size: 1.5em;
}

#exitAddToStorage {
    position: absolute;
    left: 0px;
    top: 0px;
}

#addItemToStorage {
    background-color: lightgreen;
    font-size: 0.5em;
    position: relative;
    width: 510px;
}

#addItemToStorage label {
    background-color: lightgreen;
    position: inherit;
    left: -0px;
}

#saveToStorageButton {
    position: inherit;
    top: 20px;
}

#storageMainDiv {
    position: fixed;
    border: solid 1px black;
    height: 900px;
    width: 1600px;
}

#storageContent {
    background-color: lightgreen;
    border: solid 1px black;
    height: 880px;
    overflow: auto;
    width: 600px;
    margin: 10px;
}
#storageContent::-webkit-scrollbar {
    display: none
}

#storageTest {
    
    border: solid 1px black;
    height: 320px;
    width: 450px;
    margin: 20px;
}

#storageButtons {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

#addNewItem {
    background-color: lightgreen;
    border: solid 1px black;
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
    position: relative;
    top: -700px;
    width: 500px;
    left: 800px;
}

#addNewItem label {
    text-align: left;
}



#storageDeleteItem {
    position: relative;
    left: 140px;
    top: 0px;
}

#storageChangeItem {
    position: relative;
    top: 50px;
    left: 50px;
}

.storageItem {
    position: relative;
    left: 140px;
    top: -45px;
    width: 200px;
    height: 40px;
    font-size: 1em;
}

.storageItems {
    height: 200px;
    width: 450px;
}

.storageDeleteItem {
    position: relative;
    left: -70px;
}

.storageDeleteItem:hover {
    background: gray;
}

#newStorageItem {
    background-color: white;
}

.inputField {
    background-color: white;
}

.storageChangeItem {
    position: relative;
    top: 0px;
    left: -65px;
}

.storageChangeItem:hover {
    background: gray;
}

@media only screen and (max-width: 600px) {
   
    #storageMainDiv {
        width: 330px;
        border: none;
    }

    #storageContent {
        position: relative;
        top: 300px;
        left: -10px;
        width: 310px;
        height: 58vh;
    }

    #storageTest {
        border: solid 2px black;
        width: 260px;
        height: 180px;
    }

    .storageItem {
        position: relative;
        left: 80px;
        top: -25px;
        width: 120px;
        height: 10px;
        font-size: 2em;
    }

    .storageItems {
        height: fit-content;
        width: 260px;
    }

    .storageItems p {

        width: 90px;
        font-size: 1.6em;
    }

    .storageDeleteItem {
        position: relative;
        left: -45px;
        width: 60px;
        height: 15px;
        font-size: 1em;
    }

    .storageChangeItem {
        position: relative;
        left: -45px;
        width: 60px;
        height: 15px;
        font-size: 1em;
    }



    #storageButtons {
        position: absolute;
        top: 283px;
        left: 110px;
        height: 20px;
        width: 100px;
    }

    #storageAddNewItem {
        width: 100px;
        height: 20px;
    }

    #addNewItem {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 250px;
        
    }

    #addItemToStorage {
        width: 240px;
        font-size: 1em;
    }

    #exitAddToStorage {
        position: absolute;
        left: -20px;
        top: -20px;
    }

    #saveToStorageButton {
        position: relative;
        top: 40px;
    }
}

