@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    
    font-family: 'Poppins', sans-serif;
}

#storageMainDiv button {
    background-color: lightgray;
}

#storageMainDiv button:hover {
    background-color: gray;
}

#storageAddNewItem {
    position: relative;
    top: 130px;
    left: 60px;
    width: 200px;
    height: 100px;
    font-size: 1.5em;
}

#exitAddToStorage {
    position: absolute;
    left: 0px;
    top: 0px;
}

#addItemToStorage {
    font-size: 0.5em;
    position: relative;
    width: 500px;
}

#addItemToStorage label {
    position: inherit;
    left: -0px;
}

#saveToStorageButton {
    position: inherit;
    top: 20px;
}

#storageMainDiv {
    border: solid 1px black;
    height: 1000px;
    width: 1600px;
}

#storageContent {
    border: solid 1px black;
    height: 970px;
    overflow: auto;
    width: 600px;
    margin: 10px;
}

#storageTest {
    border: solid 1px black;
    height: 300px;
    width: 450px;
    margin: 20px;
}

#storageButtons {
    position: absolute;
    left: 1300px;
    bottom: 180px;
}

#addNewItem {
    border: solid 1px black;
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
    position: relative;
    top: -700px;
    width: 500px;
    left: 800px;
}

#addNewItem label {
    text-align: left;
}



#storageDeleteItem {
    position: relative;
    left: 140px;
    top: 0px;
}

#storageChangeItem {
    position: relative;
    top: 50px;
    left: 50px;
}

.storageItem {
    position: relative;
    left: 140px;
    top: -45px;
    width: 200px;
    height: 40px;
    font-size: 1em;
}

.storageItems {
    height: 200px;
    width: 450px;
}

.storageDeleteItem {
    position: relative;
    left: -70px;
}

.storageDeleteItem:hover {
    background: gray;
}

.storageChangeItem {
    position: relative;
    top: 0px;
    left: -65px;
}

.storageChangeItem:hover {
    background: gray;
}

@media only screen and (max-width: 600px) {
   
    #storageContent {
        width: 300px;
    }

}

