#storageMainDiv {
    border: solid 1px black;
    height: 1000px;
    width: 1600px;
}

#storageContent {
    border: solid 1px black;
    height: 970px;
    overflow: auto;
    width: 550px;
    margin: 10px;
}

#storageTest {
    border: solid 1px black;
    height: 300px;
    width: 450px;
    margin: 20px;
}

#storageButtons {
    position: absolute;
    left: 1300px;
    bottom: 180px;
}

#addNewItem {
    border: solid 1px black;
    font-size: 2em;
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
    position: relative;
    top: -600px;
    width: 300px;
    left: 900px;
}

#exitAddToStorage {
    position: relative;
    top: -40px;
    left: 200px;
}

#storageDeleteItem {
    position: relative;
    left: 140px;
    top: 0px;
}

#storageChangeItem {
    position: relative;
    top: 50px;
    left: 50px;
}